.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.list-group {
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
}

.list-group > :last-child {
  margin-bottom: 0;
}

.list-group-item {
  padding: 0px 10px;
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
}

.list-group-item > :last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.list-group-item.active {
  color: #fefefe;
  background-color: #1779ba;
  border-color: 1px solid #1779ba;
}

.list-group-item:hover, .list-group-item:focus {
  background-color: #e6e6e6;
}

.list-group-item:hover.active, .list-group-item:focus.active {
  background-color: #1779ba;
}

.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus {
  color: #8a8a8a;
  cursor: not-allowed;
  background-color: #fefefe;
}
.formtodo li{
  padding:19px 0 10px 20px;
}
.button-group.show{
  margin-left:20px;
}
.formtodo .txt{
  width:312px;
}
.tasktext{
  width:80%;
  text-align: left;
  float:left;
}
.taskstatus{
  text-align: center;
}
.description{
  margin: 10px;
    padding: 6px 0 0 10px;
    text-align: left;
    font-size: 15px;
    font-family: arial;
}

.todosection{
  text-transform: capitalize;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}



